{% extends 'base.html'%}
{% block content%}
<section class="container">
   <a href={{ url_for('tasks.add_tasks') }}>
   <button class="add_button ">Add New Task</button>
   </a>
   <div class="row">
      <div class="col" >
         {% for todo in todos %}
         <ul id =round>
            <li>{{todo.task_name}}</li>
            <br>
            <li>{{todo.description}}</li>
            <br>
            <li>{{todo.due_date.strftime('%A,%d,%b,%Y')}}</li>
            <br>
            <li>Status: {{todo.status}}</li>
            <br>
         </ul>
         <form method="POST" action="{{ url_for('tasks.edit_todo', id=todo.id)}}" class="edit-form">
            <button type="submit" class="btn btn-danger">Edit</button>
         </form>
         <form method="POST" action="{{ url_for('tasks.delete', id=todo.id)}}" class="delete-form">
            <button type="submit" class="btn btn-danger">Delete</button>
         </form>
         {% endfor %}
      </div>
   </div>
</section>
{% endblock %}
<!-- <li><a href = "{{ url_for('post', id=todo['id']) }}">{{todo.task_name}}</a></p> -->